---
import Section from "../Section.astro";
import { basics } from "@cv";
import LinkedIn from "@/icons/LinkedIn.astro"
import GitHub from "@/icons/GitHub.astro"
import MapPin from "@/icons/MapPin.astro"
import Mail from "@/icons/Mail.astro"
import ExternalLink from "@/icons/ExternalLink.astro"

type SocialIcon = Record<string, string | any>

const { name, occupation, image, summary, profiles, email } = basics;

const SOCIAL_ICONS: SocialIcon = {
  GitHub,
  LinkedIn,
}
---

<Section>
  <div class="card">
    <div>
      <h1 class="gradient-image">{name}</h1>
      <h2>{occupation}</h2>
      <p class="white-text">{summary}</p>
    </div>
    <figure>
      <img src={image} alt={name} width="160" height="160" />
    </figure>
  </div>
  <div class="footer">
    <div class="info">
      <span>
        <Mail />
        <a href={`mailto:${email}`}>{email}</a>
      </span>
      <span>
        <MapPin />
        <span class="mr-1">{basics.location.city}, {basics.location.region}</span>
      </span>
      <span>
        <h4>Follow me on:</h4>
        <ul>
          {profiles.map(({ network, url }) => {
            const Icon = SOCIAL_ICONS[network]
            return (
              <li>
                <a
                  href={url}
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label={network}
                  title={`${network} Profile`}
                >
                  <Icon />
                </a>
              </li>
            )
          })}
        </ul>
      </span>
    </div>
    <button data-cv-url={basics.cv_url}>Download CV <ExternalLink /></button>
  </div>
</Section>

<script>
  function openInNewTab(url?: string) {
    const win = window.open(url, '_blank');
    win?.focus();
  }
  const button = document.querySelector('button');

  if (button) {
    const data = button.dataset;
    button?.addEventListener('click', e => openInNewTab(data.cvUrl));
  }
</script>

<style>
  .card {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    margin-top: 4em;
  }

  figure img {
    border-radius: 1em;
    border: 2px solid var(--color-gray);
  }

  ul li {
    display: inline-flex;
    margin-right: 1em;
    
    a {
      color: var(--color-light);
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  p {
    margin-top: 1em;
  }

  .footer {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 1em;
    align-items: self-start;
    .info {
      flex: 1;
      display: grid;
      column-gap: 1em;
      grid-template-columns: 1fr auto;
      grid-auto-rows: 3em;
      align-self: center;

      span {
        display: flex;
        align-items: center;
        gap: 0.5em;
        color: var(--color-light);

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }

  button {
    padding: .6em 1em;
    border: none;
    border-radius: 0.5em;
    color: var(--color-light);
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
    transition: all 0.3s ease;
    background-image: linear-gradient(45deg, var(--color-primary) 0%, var(--color-secondary) 70%);
    background-size: 400% 400%;
    animation: shrink 5s infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    font-size: 1em;
    &:hover {
      opacity: 0.8;
    }

    svg {
      height: 1.4em;
      width: 1.4em;
    }
  }
    @keyframes shrink {
    0% {
      background-size: 100% 100%;
    }
    50% {
      background-size: 200% 200%;
    }
    100% {
      background-size: 100% 100%;
    }
  }

  @media (width <= 768px) {
    .card {
      flex-direction: column-reverse;
    }
    figure img {
      width: 100px;
      height: 100px;
    }
    .footer {
      flex-direction: column;
      .info {
        grid-template-columns: 1fr;
        grid-auto-rows: 3em;
        align-items: center;
      }
      h4 {
        display: none;
      }

      button {
        width: 80%;
      }
      h1, h2, h3 {
        text-align: center;
      }
    }
  }
</style>