---
import { projects } from "@cv";
import Section from "../Section.astro";
import SectionHead from "../SectionHead.astro";
import Link from "@/icons/Link.astro"
import GitHubOutline from "@/icons/GitHubOutline.astro";

---
<Section id="projects">
  <SectionHead icon={'projects'} title="Projects" />
  <p>Here are some of the projects I've worked on.</p>
  <div class="grid">
  {projects.map((project) => (
    <div class="card">
      <figure>
        <img src={`/images/${project.image}`} alt={project.name} />
      </figure>
      <div class="card-body">
        <h2>{project.name}</h2>
        {project.tags.map((tag) => (
          <span class="tag">{tag}</span>
        ))}
        <p>{project.description}</p>
      </div>
      <div class="card-footer">
      {project.github && (
        <a href={project.github} target="_blank" rel="noopener noreferrer" title="GitHub source">
          <GitHubOutline />
        </a>
      )}
      {project.url && (
        <a href={project.url} target="_blank" rel="noopener noreferrer" title="Visit site">
          <Link />
        </a>
      )}
      </div>
    </div>
  ))}
  </div>
</Section>

<style>
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
  }
  .tag {
    display: inline-block;
    padding: .25em .5em;
    margin: .25em;
    border-radius: .5em;
    font-size: .75em;
    background-color: var(--color-green);
    color: var(--color-light);
  }

  .card {
    margin: 1rem 0;
    border: 1px solid var(--color-blue);
    transition: box-shadow 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    display: flex;
    flex-direction: column;

    &:hover {
      box-shadow: 0 0 10px 0 var(--color-primary), 0 0 10px 0 var(--color-secondary);
      border-radius: .5em;
    }

    .card-body {
      flex: 1;
      padding: 0 1em;
      p {
        margin: 1em 0;
      }
    }

    .card-footer {
      display: flex;
      justify-content: flex-end;
      gap: 1em;
      padding: 0 1em 1em;
      
      a {
        border-radius: 50%;
        width: 2.5em;
        height: 2.5em;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        &:hover {
          background-color: var(--color-primary);
        }
      }

      svg {
        width: 1.5em;
        height: 1.5em;
      }
    }
    figure {
      margin: 0;
      border-radius: inherit;
      img {
        border-radius: inherit;
        width: 100%;
        aspect-ratio: 16/9;
      }
    }
  }
</style>